$empty : '';

// Banner

#page-wrapper > #banner {
    @include vendor('display', 'flex');
    @include vendor('flex-direction', 'column');
    @include vendor('justify-content', 'center');
    cursor: default;
    height: 100vh;
    min-height: 35em;
    overflow: hidden;
    position: relative;
    text-align: center;

    h2 {
        @include vendor('transform', 'scale(1)');
        @include vendor('transition', ('transform .9s ease', 'opacity .5s ease'));
        display: inline-block;
        font-family: _font(special);
        font-size: 1.75em;
        opacity: 1;
        padding: .31em 1em 0;
        position: relative;
        z-index: 1;

        &::before,
        &::after {
            @include vendor('transition', 'width .85s ease');
            @include vendor('transition-delay', '.25s');
            background: _palette(fg-bold);
            content: $empty;
            display: block;
            height: 2px;
            position: absolute;
            width: 100%;
        }

        &::before {
            left: 0;
            top: 0;
        }

        &::after {
            bottom: 0;
            right: 0;
        }
    }

    p {
        letter-spacing: _size(letter-spacing-alt);
        text-transform: uppercase;

        a {
            color: inherit;
        }
    }

    .more {
        @include vendor('transition', ('transform .75s ease', 'opacity 1.2s ease'));
        @include vendor('transition-delay', '3s');
        @include vendor('transform', 'translateY(0)');
        @include icon-after(_fa-icon(chevron-down));
        border: 0;
        bottom: 0;
        color: inherit;
        font-size: .8em;
        height: 8.5em;
        left: 50%;
        letter-spacing: _size(letter-spacing-alt);
        margin: 0 auto;
        opacity: 1;
        outline: 0;
        //padding-left: _size(letter-spacing-alt);
        //padding-left: 0;
        //position: absolute;
        text-align: center;
        text-transform: uppercase;
        width: 16em;
        z-index: 1;

        &::after {
            //bottom: 4em;
            display: block;
            font-size: 2.5em;
            left: 50%;
            margin: .5em 0 0 0;
        }
    }

    &::after {
        @include vendor('pointer-events', 'none');
        @include vendor('transition', 'opacity #{_duration(fadein)} ease-in-out');
        @include vendor('transition-delay', '1.25s');
        background: _palette(bg);
        content: $empty;
        display: block;
        height: 100%;
        left: 0;
        opacity: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }

    @include breakpoint(small) {
        @include padding(7em, 3em);
        height: auto;
        min-height: 0;

        h2 {
            font-size: 1.25em;
        }

        br {
            display: none;
        }

        .more {
            display: none;
        }
    }
}

body.is-loading {
    #page-wrapper > #banner {
        h2  {
            @include vendor('transform', 'scale(.95)');
            opacity: 0;

            &::before,
            &::after {
                width: 0;
            }
        }

        &::after {
            opacity: 1;
        }

        .more {
            @include vendor('transform', 'translateY(8.5em)');
            opacity: 0;
        }
    }
}
