// Google Recaptcha

@include breakpoint(vsmall)
{
    .g-recaptcha
    {
        @include vendor('transform'       , 'scale(0.86)');
        @include vendor('transform-origin', '25px 0')     ;
    }
}

// Icon

.icon {
    @include icon-before;
    border-bottom: 0;
    position: relative;

    > .label {
        display: none;
    }

    &.major {
        @include vendor('transform', 'rotate(-45deg)');
        border: solid 2px _palette(border);
        border-radius: 3px;
        display: inline-block;
        font-size: 1.35em;
        height: calc(3em + 2px);
        line-height: 3em;
        text-align: center;
        width: calc(3em + 2px);

        &::before {
            @include vendor('transform', 'rotate(45deg)');
            display: inline-block;
            font-size: 1.5em;
        }

        @include breakpoint(small) {
            font-size: 1em;
        }
    }

    &.style1 {
        color: _palette(accent2, bg);
    }

    &.style2 {
        color: _palette(accent3, bg);
    }

    &.style3 {
        color: _palette(accent4, bg);
    }
}

// Image

.image {
    border: 0;
    border-radius: 3px;
    display: inline-block;
    position: relative;

    img {
        border-radius: 3px;
        display: block;
    }

    &.left {
        float: left;
        margin: 0 2em 2em 0;
        top: .25em;
    }

    &.right {
        float: right;
        margin: 0 0 2em 2em;
        top: .25em;
    }

    &.left,
    &.right {
        max-width: 40%;

        img {
            width: 100%;
        }
    }

    &.shadow {
        box-shadow: 0 0 8px rgba(0, 0 , 0, .4);
    }

    &.fit {
        display: inline-block;
        margin: 0 0 _size(element-margin) 0;
        width: 100%;

        img {
            width: 100%;
        }
    }
}

// Overlay

.overlay {
    @include vendor('display', 'flex');
    @include vendor('align-items', 'center');
    @include vendor('justify-content', 'center');
    @include vendor('transition', '.5s ease-out');
    background-color: transparent;
    border-radius: 3px;
    color: transparent !important;
    font-family: _font(special);
    height: 100%;
    line-height: 1.8em;
    padding: .5em 1em;
    position: absolute;
    text-align: center;
    width: 100%;

    &:hover {
        @include vendor('transition', '.25s ease-in');
        background-color: rgba(0, 0, 0, .7);
        color: rgb(250, 250, 250) !important;
    }
}

// Box

.box {
    border: solid 2px _palette(border);
    border-radius: 3px;
    margin-bottom: _size(element-margin);
    padding: 1.5em;

    > :last-child,
    > :last-child > :last-child,
    > :last-child > :last-child > :last-child {
        margin-bottom: 0;
    }

    &.alt {
        border: 0;
        border-radius: 0;
        padding: 0;
    }
}

// Features

.features {
    @include vendor('display', 'flex');
    @include vendor('flex-wrap', 'wrap');
    @include vendor('justify-content', 'center');
    list-style: none;
    padding: 0;
    width: 100%;

    li {
        @include padding(4em, 4em, (0, 0, 0, 2em));
        display: block;
        position: relative;
        text-align: left;
        width: 50%;

        @for $i from 1 through _misc(max-features) {
            $j: .035 * $i;

            &:nth-child(#{$i}) {
                background-color: rgba(0, 0, 0, $j);
            }
        }

        &::before {
            color: _palette(accent2, bg);
            display: block;
            font-size: 1.5em;
            left: 1.75em;
            position: absolute;
            top: 2.75em;
        }

        &:nth-child(1) {
            border-top-left-radius: 3px;
        }

        &:nth-child(2) {
            border-top-right-radius: 3px;
        }

        &:nth-last-child(1) {
            border-bottom-right-radius: 3px;
        }

        &:nth-last-child(2) {
            border-bottom-left-radius: 3px;
        }

        @include breakpoint(medium) {
            @include padding(3em, 2em);
            text-align: center;

            &:before {
                left: 0;
                margin: 0 0 (_size(element-margin) * .5) 0;
                position: relative;
                top: 0;
            }
        }

        @include breakpoint(small) {
            @include padding(3em, 0);
            background-color: transparent !important;
            border-top: solid 2px _palette(border);
            width: 100%;

            &:first-child {
                border-top: 0;
            }
        }
    }
}

// Spotlight

.spotlight {
    @include vendor('align-items', 'center');
    @include vendor('display', 'flex');

    > h2 {
        display: none;
    }

    .image {
        @include vendor('order', '1');
        border-radius: 0;
        width: 42%;

        img {
            border-radius: 0;
            width: 100%;
        }
    }

    .content {
        @include vendor('order', '2');
        max-width: 48em;
        padding: 1.2em 1.3em;
        width: 58%;

        a {
            @include vendor('border-image', 'linear-gradient(to right, transparent, rgb(128, 140, 176), transparent) 1');
            border-bottom: 1px solid;
        }

        h2 {
            margin-bottom: 1.1em;
        }

        p {
            margin-bottom: 0;
            margin-top: 1em;
        }
    }

    &:nth-child(2n) {
        @include vendor('flex-direction', 'row-reverse');

        .content {
            text-align: right;
        }

    }

    @for $i from 1 through _misc(max-spotlights) {
        $j: .075 * $i;

        &:nth-child(#{$i}) {
            background-color: rgba(0,0,0, $j);
        }
    }

    @include breakpoint(large) {
        .image {
            width: 45%;
        }

        .content {
            width: 55%;
        }
    }

    @include breakpoint(medium) {
        display: block;

        br {
            display: none;
        }

        .image {
            width: 100%;
        }

        .content {
            max-width: none;
            padding: 1.1em 1.3em 2.2em;
            text-align: center !important;
            width: 100%;
        }
    }

    @include breakpoint(small) {
        .content {
            padding: 1.1em 1em 1.8em;
        }
    }
}

#two > h2 {
    display: none;
}

// Electricity

$conduit-width: 1px;
$conduit-pulse-color: rgb(255, 255, 255);

@mixin animation-conduit-current($name, $first_direction, $second_direction) {
    @include keyframe($name) {
        0% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 3%, _palette(accent1, border) 60%) 1;
        }

        5% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 5%, _palette(accent1, border) 60%) 1;
        }

        10% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 15%, _palette(accent1, border) 60%) 1;
        }

        15% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 30%, _palette(accent1, border) 60%) 1;
        }

        20% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 40%, _palette(accent1, border) 60%) 1;
        }

        25% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 50%, _palette(accent1, border) 60%) 1;
        }

        30% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 60%, _palette(accent1, border) 60%) 1;
        }

        35% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 70%, _palette(accent1, border) 60%) 1;
        }

        40% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 80%, _palette(accent1, border) 60%) 1;
        }

        45% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 90%, _palette(accent1, border) 60%) 1;
        }

        50% {
            border-image: linear-gradient(to $first_direction, _palette(accent1, border), $conduit-pulse-color 97%, _palette(accent1, border) 60%) 1;
        }

        // ==================================

        51% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 3%, _palette(accent1, border) 60%) 1;
        }

        55% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 5%, _palette(accent1, border) 60%) 1;
        }

        60% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 15%, _palette(accent1, border) 60%) 1;
        }

        65% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 30%, _palette(accent1, border) 60%) 1;
        }

        70% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 40%, _palette(accent1, border) 60%) 1;
        }

        75% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 50%, _palette(accent1, border) 60%) 1;
        }

        80% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 60%, _palette(accent1, border) 60%) 1;
        }

        85% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 70%, _palette(accent1, border) 60%) 1;
        }

        90% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 80%, _palette(accent1, border) 60%) 1;
        }

        95% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 90%, _palette(accent1, border) 60%) 1;
        }

        100% {
            border-image: linear-gradient(to $second_direction, _palette(accent1, border), $conduit-pulse-color 97%, _palette(accent1, border) 60%) 1;
        }
    }
}

@include animation-conduit-current(conduit-current-bottom-right, bottom, right);
@include animation-conduit-current(conduit-current-bottom-left, bottom, left);

@include animation-conduit-current(conduit-current-right-top, right, top);
@include animation-conduit-current(conduit-current-left-top, left, top);

@include animation-text-pulse(active_li_pulsing_text, #ff3);

.conduit-border {
    > * {
        border-bottom: solid $conduit-width _palette(accent1, border);
        border-left: solid $conduit-width _palette(accent1, border);
        margin: 0 !important;
        @include vendor('transition', 'all 0.5s linear');

        &:nth-child(2n) {
            border-left: 0;
            border-right: solid $conduit-width _palette(accent1, border);
        }

        &:last-child {
            border-bottom: 0;
        }

        > a:hover {
            @include vendor('animation', 'active_li_pulsing_text 1.5s 0s linear infinite');
        }

        //.active {
        //    @include vendor('animation', 'active_li_pulsing_text 1.5s 0s linear infinite');
        //}
    }
}

//.electric-activity {
//}

// CTA

#cta {
    .inner {
        @include vendor('display', 'flex');
        max-width: 45em;

        header {
            @include vendor('order', '1');
            padding-right: 3em;
            width: 70%;

            p {
                color: inherit;
            }
        }

        .actions {
            @include vendor('order', '2');
            width: 30%;
        }

        @include breakpoint(medium) {
            display: block;
            text-align: center;

            header {
                padding-right: 0;
                width: 100%;
            }

            .actions {
                margin-left: auto;
                margin-right: auto;
                max-width: 20em;
                width: 100%;
            }
        }

        @include breakpoint(small) {
            .actions {
                max-width: none;
            }
        }
    }
}
