<head>
    <meta charset="{{ site.encoding }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ site.title | prepend: ' | ' | prepend: page.title | truncate: 60 | escape }}{% else %}{{ site.title | truncate: 60 | escape }}{% endif %}</title>
    <meta name="description" content="{% if page.description %}{{ page.description | strip_newlines | truncate: 160 | escape }}{% else %}{{ site.description | strip_newlines | truncate: 160 | escape }}{% endif %}">
    {% if page.tags %}
    {% assign post_keywords = site.keywords | downcase %}
    {% for tag in page.tags %}
        {% assign comma_tag     = tag | downcase | prepend: ',' %}
        {% assign post_keywords = tag | append: ',' | downcase | append: post_keywords | remove: comma_tag %}
    {% endfor %}
    <meta name="keywords" content="{{ post_keywords }}">
    {% else %}
    <meta name="keywords" content="{{ site.keywords | downcase }}">
    {% endif %}
    <!--[if lte IE 8]><script src="{{ "js/ie/html5shiv.min.js" | prepend: site.url_dir }}"></script><![endif]-->
    {% if page.url contains '.html' %}
    <link rel="alternate" href="{{ page.url | prepend: site.url_dir | replace: '//','/' | prepend: site.url }}">
    {% else %}
    <link rel="canonical" href="{{ page.url | prepend: site.url_dir | replace: '//','/' | prepend: site.url }}">
    {% endif %}
    {% if page.url == site.url_dir or page.title == site.title or page.type == 'showcase' %}
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ 'feed.xml' | prepend: site.url_dir }}">
    {% endif %}
    <!--[if lte IE 8]><link rel="stylesheet" href="{{ "css/ie8.css" | prepend: site.url_dir }}" /><![endif]-->
    <!--[if lte IE 9]><link rel="stylesheet" href="{{ "css/ie9.css" | prepend: site.url_dir }}" /><![endif]-->
    <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url_dir }}apple-touch-icon.png">
    <link rel="icon" type="image/png" href="{{ site.url_dir }}favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="{{ site.url_dir }}favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="{{ site.url_dir }}manifest.json">
    <link rel="mask-icon" href="{{ site.url_dir }}safari-pinned-tab.svg">
    <meta name="theme-color" content="#ffffff">
    {% capture critical %}
    {% include critical.scss %}
    {% endcapture %}
    <style>
    {{ critical | scssify }}
    </style>
    {% if site.google_analytics_id %}
    <!-- Google Analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','{{ site.url_dir }}js/google/analytics.min.js','ga');

    ga('create', '{{ site.google_analytics_id }}', 'auto');
    ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
    {% endif %}
</head>
