<header id="header"{% if page.layout == 'home_layout' %} class="alt"{% endif %}>
    <h1><a href="{{ site.url_dir }}">{{ site.title }}</a></h1>
    <nav id="nav">
        <ul>
            <li class="special">
                <a href="#menu" class="menuToggle"><span>Menu</span></a>
                <div id="menu">
                    <ul id="menu_ul" class="conduit-border">
                        <li><a href="{{ site.url_dir }}" class="icon fa-home"> Home</a></li>
                        {% for page in site.pages %}
                        {% if page.type == 'information' or page.type == 'showcase' %}
                        <li>
                            <a href="{{ page.url | prepend: site.url_dir | replace: '//','/' }}"
                             class="icon {{ page.icon }}" title="{{ page.title }}"
                             > {{ page.title }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                        <li>
                            <a href="{{ 'feed.xml' | prepend: site.url_dir }}" class="icon fa-feed" title="Feed"
                             > Feed</a>
                        </li>
                    </ul>
                    {% if page.layout == 'home_layout' %}
                    <h5>Jump To</h5>
                    <ul id="jump_menu_ul" class="conduit-border">
                        <li><a href="#two" class="scrolly">Lastest Projects</a></li>
                        <li><a href="#three" class="scrolly">Specialties</a></li>
                        <li><a href="#cta" class="scrolly">Freelance Status</a></li>
                    </ul>
                    {% endif %}
                </div>
            </li>
        </ul>
    </nav>
</header>
