<noscript id="deferred-styles">
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl | append: 'css/stylesheet.css' | append: print_file_version }}">
</noscript>
<script async type="text/javascript">
{% include js/loadcss.js %}
</script>
{% if page.url contains 'contact' %}
<script async src="{{ 'js/scripts.contact.js' | prepend: site.baseurl }}" type="text/javascript"></script>
{% else %}
<script async src="{{ 'js/scripts.js' | prepend: site.baseurl }}" type="text/javascript"></script>
{% endif %}
<!--[if lte IE 8]>
<script src="{{ "/js/ie/respond.min.js' | prepend: site.baseurl }}" type="text/javascript"></script>
<![endif]-->
