// Icon.
$fa-icon: (
    menu        : '\f0c9',
    chevron-down: '\f078',
    close       : '\f00d',
    home        : '',
    about       : '',
    envelope    : '',
    folder      : '',
    feed        : '',
    );

// Misc.
$misc: (
    max-spotlights:     4,
    max-features:       8,
    z-index-base:       10000
);

// Duration.
$duration: (
    transitions:        .2s,
    menu:               .5s,
    fadein:             3s
);

// Size.
$size: (
    element-height:     2.75em,
    element-margin:     2em,
    letter-spacing:     .075em,
    letter-spacing-alt: .225em
);

// Font.
$font: (
    family:             ('Open Sans', 'Helvetica', sans-serif),
    family-fixed:       ('Courier New', monospace),
    special:            ('jaapokki-subtract', 'Open Sans', sans-serif),
    weight:             400,
    weight-bold:        600,
    weight-extrabold:   800
);

// Palette.
$palette: (
    bg:                 #2e3842,
    fg:                 #fff,
    fg-bold:            #fff,
    fg-light:           rgba(255, 255, 255, .5),
    field-bg:           #f9f9f9,
    footer-bg:          rgb(46, 56, 66),
    border:             #fff,
    border-bg:          rgba(144, 144, 144, .25),
    border2:            #fff,
    border2-bg:         rgba(144, 144, 144, .5),

    accent1: (
        bg:             #21b2a6,
        fg-bold:        #fff,
        fg:             mix(#21b2a6, #fff, 25%),
        fg-light:       mix(#21b2a6, #fff, 40%),
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2),
        border3:        rgba(0, 0, 0, .2)
    ),

    accent2: (
        bg:             #0fc,
        fg-bold:        #fff,
        fg:             mix(#0fc, #fff, 25%),
        fg-light:       mix(#0fc, #fff, 40%),
        field-bg:       #f9f9f9,
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2)
    ),

    accent3: (
        bg:             #00f0ff,
        fg-bold:        #fff,
        fg:             mix(#00f0ff, #fff, 25%),
        fg-light:       mix(#00f0ff, #fff, 40%),
        field-bg:       #f9f9f9,
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2)
    ),

    accent4: (
        bg:             #76ddff,
        fg-bold:        #fff,
        fg:             mix(#76ddff, #fff, 25%),
        fg-light:       mix(#76ddff, #fff, 40%),
        field-bg:       #f9f9f9,
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2)
    ),

    accent5: (
        bg:             #505393,
        fg-bold:        #fff,
        fg:             mix(#505393, #fff, 25%),
        fg-light:       mix(#505393, #fff, 40%),
        field-bg:       #f9f9f9,
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2)
    ),

    accent6: (
        bg:             #ed4933,
        fg-bold:        #fff,
        fg:             mix(#ed4933, #fff, 25%),
        fg-light:       mix(#ed4933, #fff, 40%),
        field-bg:       #f9f9f9,
        border:         rgba(0, 0, 0, .125),
        border-bg:      rgba(255, 255, 255, .075),
        border2:        rgba(0, 0, 0, .25),
        border2-bg:     rgba(255, 255, 255, .2)
    ),

    accent7: (
        bg:             #fff,
        fg-bold:        #2e3842,
        fg:             #4e4852,
        fg-light:       #8e8892,
        field-bg:       #f9f9f9,
        border:         #dfdfdf,
        border-bg:      rgba(0, 0, 0, .0375),
        border2:        #bfbfbf,
        border2-bg:     rgba(0, 0, 0, .1)
    )
);
